.dr-tool {
  background-color:$primary-purple;
  margin:0.25em;
  margin-bottom:1em;
  padding:1em;
  display:flex;
  flex-flow:column nowrap;
  #DR-text {
    color:white;
  }
  a {
    color:$white;
    text-decoration:none;
    border:1px solid $white;
    padding:0.5em 1em;
    border-radius:6px;
  }
  a:hover {
    background: $white;
    color:$primary-purple;
    -webkit-transition: all 0.25s;
    transition: all .25s;
  }
  @media (min-width:$md){
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom:0;
      color:white;
    }
  }
}
