.dr-tool {
  background-color:$primary-purple;
  color:$white;
  margin:0.25em;
  margin-bottom:1em;
  padding:1em;
  display:flex;
  flex-flow:column nowrap;
  a {
    color:$white;
    text-decoration:none;
    border:1px solid $white;
    padding:0.5em 1em;
    border-radius:6px;
  }
  @media (min-width:$md){
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom:0;
    }
  }
}
