/*homepage styling */
#hometitle {
  border-left:3px solid $primary-purple;
}

#home-text {
  margin-bottom: 0;
}

.flex-container {
  .type-post {
    border-width:0;
    border-style:solid;
    border-color:red;
    border-left-width:5px;
    @media screen and (min-width: $md){
      border-left-width:0;
      border-bottom-width: 5px;
    }
  }
  .category-making-money {
    border-color: $cat1;
  }

  .category-saving-money {
    border-color: $cat2;
  }

  .category-living-with-debt {
    border-color: $cat3;
  }

  .category-debt-news {
    border-color: $cat4;
  }

  .category-budgeting {
    border-color: $cat5;
  }

} /* end of flex container */

/* heading on blog posts */
.category-making-money {
  h1  {
    border-color: $cat1;
  }
}

.category-saving-money {
  h1 {
    border-color: $cat2;
  }
}

.category-living-with-debt {
  h1 {
    border-color: $cat3;
  }
}

  .category-debt-news {
    h1 {
      border-color: $cat4;
  }
}
  .category-budgeting {
    h1  {
      border-left: 3px solid $cat5;
    }
  }

article .attachment-post-thumbnail {
  @media screen and (max-width:$md) {
    display:none;
  }
}

.page--cat .post, .page--cat .type-post{
	width:96%;
	background:$white;
	display:inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1rem;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
	a { text-decoration:none; color:#333; }
  p, h2 {padding-left: 1rem; padding-right: 1rem;}
  h2 {margin-top:2rem;}
  p { margin-bottom: 2rem;}
  .border-h { margin-top: auto;}
	@include breakpoint(min-sm){
		width:32%;
	}
}

.page--cat .post:first-child {
	width:100%;
  h2 {
    margin-top:0;
    border-left: 3px solid;
  }
	.wp-post-image { display:none; }

}

.article, .page--cat .post:first-child {
	position:relative;
	z-index:2;
	padding:2rem;
	@include breakpoint(min-sm){
		padding:50px 100px;
		margin-top:-60px;
	}
}
/* display thumbanil as background on div */
.post-img {
  height:12em;
}

/* get the read more buttons all the same height */
.excerpt-limit {
  overflow:hidden;
  p {
    margin-bottom: 0;
  }
}

.post:first-child { /*removes the image on both the category and homepage first post */
  .post-img {
    display:none;
  }
}

.post-img {
  display:none;
  @media (min-width:$md) {
    display:flex;
    justify-content: flex-end;
  }
}

.popular {
  background-color:$primary-purple;
  color:white;
  margin-top: 0;
  @media (min-width: $md){
    margin-top:1.5em;
  }
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  position: absolute;
  align-self: flex-end;
}

/* add the left border to the first post on the homepage and blog titles*/

.category-making-money{
  >h1 {
    border-left: 3px solid $cat1;
  }
  .post:first-child {
        h2 {
        border-left: 3px solid $cat1;
      }
    }
}

.category-saving-money{
  >h1 {
    border-left: 3px solid $cat2;
  }
  .post:first-child {
        h2 {
        border-left: 3px solid $cat2;
      }
    }
}

.category-living-with-debt {
  >h1 {
    border-left: 3px solid $cat3;
  }
  .post:first-child {
        h2 {
        border-left: 3px solid $cat3;
      }
    }
}

  .category-debt-news {
    >h1 {
      border-left: 3px solid $cat4;
    }
    .post:first-child {
          h2 {
          border-left: 3px solid $cat4;
        }
      }
  }

.category-budgeting{
  >h1 {
    border-left: 3px solid $cat5;
  }
}

.category-budgeting.post:first-child {
      h2 {
      border-color:$cat5;
    }
  }

 .readMore {
  #readmore-btn {
      background-color: $hot-orange;
      color: $white;
      border-radius: $br1;
      padding: 8px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 16px;
      text-decoration: none;
      margin-top:1em;
      -webkit-transition: background-color 0.25s;
      transition: background-color 0.25s;
    }
    #readmore-btn:hover {
        background-color: $charcoal;
        -webkit-transition: background-color 0.25s;
        transition: background-color 0.25s;
      }
  }

/* what is moneyAware styling */

.moneyawareBlurb {
  width:99%;
  margin:auto;
  .sixtySecond-category {
    width:100%;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    background-color:$primary-purple;
    color:$white;
    padding:2em;
    margin-bottom:1em;
    @media (min-width: $md){
      flex-flow:row nowrap;
    }
    p {
      color:$white;
      @media (min-width:$md) {
      line-height: 2.5em;
      margin-bottom: 0;
      }
    }
    a {
      color:$white;
      padding: 0.5em 2em;
      border-radius:$br1;
      border:1px solid $white;
      text-decoration:none;
      height:2.5em;
      text-align:center;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }
    a:hover {
      background: $white;
      color:$primary-purple;
      -webkit-transition: all 0.25s;
      transition: all .25s;
    }
  }
}
/* end of money aware */

/* load more posts */

.loadMorePosts {
  background-color: $hot-orange;
  color: $white;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 0.5rem 0.5em;
  cursor:pointer;
  border-radius: $br1;
  -webkit-transition: all 0.25s;
  transition: all .25s;
  @media (min-width:$md) {
    width:27%;
  }
}

.loadMorePosts:hover {
    background-color:$charcoal;
    -webkit-transition: all 0.25s;
    transition: all .25s;
  }
