.flex-container {
  .post {
    border-width:0;
    border-style:solid;
    border-color:red;
    border-left-width:5px;
    @media screen and (min-width: $md){
      border-left-width:0;
      border-bottom-width: 5px;
    }
  }
  .category-making-money {
    border-color: $cat1;
  }

  .category-saving-money {
    border-color: $cat2;
  }

  .category-living-with-debt {
    border-color: $cat3;
  }

  .category-debt-news {
    border-color: $cat4;
  }

  .category-budgeting {
    border-color: $cat5;
  }

} /* end of flex container */

/* heading on blog posts */
.category-making-money {
  h1  {
    border-color: $cat1;
  }
}

.category-saving-money {
  h1 {
    border-color: $cat2;
  }
}

.category-living-with-debt {
  h1 {
    border-color: $cat3;
  }
}

  .category-debt-news {
    h1 {
      border-color: $cat4;
  }
}
  .category-budgeting {
    h1  {
      border-left: 3px solid $cat5;
    }
  }

article .attachment-post-thumbnail {
  @media screen and (max-width:$md) {
    display:none;
  }
}

.page--cat .post {
	width:100%;
	background:$white;
	display:inline-block;
  margin-bottom: 1rem;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
	a { text-decoration:none; color:$charcoal; }
  p, h2 {padding-left: 1rem; padding-right: 1rem;}
  h2 {margin-top:2rem;}
  p { margin-bottom: 2rem;}
  .border-h { margin-top: auto;}
	@include breakpoint(min-sm){
		width:32%;
	}
}

.page--cat .post:first-child {
	width:100%;
  h2 {margin-top:0;}
	.wp-post-image { display:none; }
}

.article, .page--cat .post:first-child {
	position:relative;
	z-index:2;
	padding:2rem;
	border:1px solid $border;
	@include breakpoint(min-sm){
		padding:50px 100px;
		margin-top:-60px;
	}
}


.post:first-child { /*removes the image on both the category and homepage first post */
  img {
    display:none;
  }
}

/* add the left border to the first post on the homepage */

.category-making-money.post:first-child {
      h2 {
      border-left: 3px solid $cat1;
    }
  }
.category-saving-money.post:first-child {
        h2 {
        border-left: 3px solid $cat2;
      }
    }
.category-living-with-debt.post:first-child {
          h2 {
          border-left: 3px solid $cat3;
        }
      }
  .category-debt-news.post:first-child {
            h2 {
            border-left: 3px solid $cat4;
          }
        }
.category-budgeting.post:first-child {
          h2  {
              border-left: 3px solid $cat5;
            }
          }

/* placeholder styling */

.page--cat .post {
	width:100%;
	background:$white;
	display:inline-block;
  margin-bottom: 1rem;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
	a { text-decoration:none; color:#333; }
  p, h2 {padding-left: 1rem; padding-right: 1rem;}
  h2 {margin-top:2rem;}
  p { margin-bottom: 2rem;}
  .border-h { margin-top: auto;}
	@include breakpoint(min-sm){
		width:32%;
	}
}

.readmore-btn {
    background-color: #E4541B;
    color: white;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: arial, sans-serif;
    text-decoration: none;
    }

.readmore-btn:hover {
    background-color: #333333;
  }


/* what is moneyAware styling */

.moneyawareBlurb {
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
  @media screen and (min-width:$md){
    flex-flow:row nowrap;
  }
  .blurb {
    background-color:$white;
    width:100%;
    padding:2em;
    margin-bottom:1em;
    @media screen and (min-width:$md){
      width:66%;
    }
  }
  .sixtySecond-category {
    width:100%;
    background-color:$primary-purple;
    color:$white;
    padding:2em;
    margin-bottom:1em;
    @media screen and (min-width:$md){
      width:32%;
    }
    p {
      margin-bottom:2em;
      color:$white;
    }
    a {
      color:$white;
      padding: 0.5em 2em;
      border-radius:$br1;
      border:1px solid $white;
      text-decoration:none;
    }
  }
}
/* end of money aware */
