

/* circle author image */
.avatar {
  border-radius: 100px;
}

#author-avatar {
  display:inline-flex;
}

/* tags styling */

.tag-links {
  a {
    margin:3px;
    padding:5px;
    background-color: $background;
    border-radius: $br1;
    line-height: 2.25em;
    text-decoration: none;
    word-break: keep-all;
    text-transform: lowercase;
  }
}

.cat-desc {
  p {
    margin-bottom:0!important;
  }

}

.loadMorePosts {
  background-color: $hot-orange;
  color: $white;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 0.5rem 0.5em;
  cursor:pointer;
  border-radius: $br1;
  @media (min-width:$md) {
    width:27%;
  }
}
