
footer {
  background: $white;
  padding: 1rem 0;
  font-size: 13px;
}

#colophon {
  list-style: none;
  display:flex;
  flex-flow: column nowrap;
  max-width: 1000px;
    margin: auto;
  @media (min-width:$md){
    flex-flow: column nowrap;
    #footer-widget-area {
      width:100%;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin-top:2em;
    }
  }
  @media (min-width:$lg){
    flex-flow: row nowrap;
    #footer-widget-area {
      width:80%;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .textwidget {
    text-align: center;
  }
}

.widget_search {
  #searchform {
    margin:0;
  }
}

/* social link */
#social-icons {
  margin:auto;
  text-align:center;
}

.social-links {
  @media (min-width: $lg){
    display: inline-table;
    margin-top: 1.5em;
  }
}

.social-twitter {
  background: url(images/twitter.png);
  padding: 10px 15px;
  white-space: nowrap;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin:5px;
}
.social-facebook {
  background: url(images/facebook.png);
  padding: 10px 15px;
  white-space: nowrap;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
    margin:5px;
}
.social-youtube {
  background: url(images/youtube.png);
  padding: 10px 22px;
  white-space: nowrap;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin:5px;
  margin-left: 9px;
}

#menu-footer-links {
  padding:0.5em;
  @media (min-width: $md) {
    padding:0;
  }
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  li {
    list-style:none;
    align-self:center;
    text-align:center;
    font-size:1em;
    padding-right: 0.5em;
    line-height: 1em;
    a {
    text-decoration:none;
    color:$charcoal;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.widget_search {
    div {
    text-align:center;
    @media (min-width:$md) {
      text-align:right;
    }
  }
}

#site-generator {
  max-width:100%;
    text-align: center;
  @media (min-width:$lg) {
    max-width:20%;
    text-align:right;
  }
}

#footer-logo {
  max-width:200px;
  padding-top: 2.5em;
}

.disclaimer {
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
}
