.page {
	max-width:850px;
	margin:0 auto;
  @media screen and (min-width:$md) {
    display:flex;
    justify-content: space-between;
  }

}

.header-top {
	display:flex;
	justify-content: space-between;
	background-color: $white;
	position:fixed;
	width:100%;
	z-index: 3;
	@media screen and (min-width:$md) {
		position:relative;
		width:25%;
	}
}

.hide-it {
	display:none;
	transition: 0.2s;
	@media screen and (min-width: $md) {
		display:block;
	}
}


.header-logo {
  max-width:66%;
  margin-left:10px;
	width:80%;
  @media screen and (min-width: $md) {
    max-width:100%;
    padding:0;
  }
}

.burger {
	cursor:pointer;
	width:20%;
	padding-right:10px;
	align-self: center;
	justify-self:flex-end;
  @media screen and (min-width:$md) {
    display:none;
  }
	p {
		padding:0;
		margin:auto;
		font-size:0.8em;
	}
	display:flex;
	flex-direction:column;
}
.burger-container {
	display:inline-block;
	margin:auto;
}
.bar {
	width: 35px;
	height: 5px;
	background-color: $charcoal;
	margin: 6px 0px;
	transition: 0.2s;
	border: 0.5px solid $charcoal;
	border-radius:5px;
	}

/* rotate first bar */
	.bar-change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
	}

	.bar-change .bar2 {
    opacity: 0;
	}

	.bar-change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
	}

.nav2 {
	background-color: white;
	position:fixed;
	z-index: 3;
	width:100%;
	margin-top:65px;
	@media screen and (min-width: $md){
		position:relative;
		margin-top:0;
	}
}

.menu {
    background-color:white;
    padding-left:1%;
    @media screen and (min-width: $md ) {
      display: flex;
      align-items: flex-end;
      margin:0;
    }
    ul {
      list-style:none;
      @media screen and (min-width: $md) {
        margin:0;
      }
    }
    li{
      list-style:none;
      margin-bottom: 5px;
      padding: 10px;
      border-left: 5px solid red;
      @media screen and (min-width: $md ) {
        border-left:none;
        border-bottom:5px solid blue;
        margin:0 1px;
        flex-grow:1;
        text-align: center;
        padding:5px;
      }
      a {
        text-decoration: none;
        color: $charcoal;
      }
    }
}

.menu-nav-menu-container {
  border-top:1px solid $charcoal;
  border-bottom:1px solid $charcoal;
  @media screen and (min-width: $md ) {
    border:none;
  }
}

.current-menu-item {
  font-weight: 800;
}

#menu-item-7443 {
  border-color: $cat1;
}
#menu-item-7444 {
  border-color: $cat2;
}
#menu-item-7445 {
  border-color: $cat3;
}
#menu-item-7446 {
  border-color: $cat4;
}
#menu-item-7447 {
  border-color: $cat5;
}

@media screen and (min-width: $md) {
  .nav2 {
    flex-grow:3;
    align-self:flex-end;
    -webkit-margin-after:0;
    -webkit-margin-before:0;
    margin:0;
  }
  .logo {
    flex-grow: 1;
  }
}
