.searchform {
  margin-top:1em;
 input[type=submit]{
    display: inline;
    height: 45px;
    background-color: #E4541B;
    color: #FFF;
    padding: 8px 22px;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: 2px;
    margin-left: -0.5em;
    
 }
 input[type=text]{
    width: auto;
    height: 45px;
    vertical-align: top;
    padding: 0.8rem;
    border: solid 1px #AAA;
     
 }

}
