.searchform {
  margin-top:1em;
 input[type=submit]{
   display:inline;
   padding:0.5em;
   margin-top:0.5em;
   border-radius:$br1;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
   color:$white;
   background-color:$hot-orange;
   border-style:none;
 }
 input[type=text]{
   padding:0.5em;
   border-radius: $br1;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
   background-color: lightgrey;
     border-style: none;
 }

}
