#sidebar-container {
  background-color:white;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width:850px;
}


.sidebar {
    li{
      list-style:none;
      margin:0;
      padding:1em;
      background:$white;
    }
    margin:0;
    padding:0.5em;
    div {
      @media (min-width: $md) {
        display:inline-flex;
      }
    }
}
